body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
#container {
    text-align: center;
}
#searchInput {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}
#searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
#result {
    margin-top: 20px;
    width: 100vw;
    height: 80vh;
    position: relative;
}
.word {
    position: absolute;
    font-size: 20px;
}